$main-font: 'Montserrat', sans-serif;

$main-lightest: hsl(240, 78%, 98%);
$main-light: hsl(234, 14%, 74%);
$main-color: hsl(233, 13%, 49%);
$main-dark: hsl(232, 13%, 33%);

$primary:  hsl(237, 63%, 64%);
$primary-light:  hsl(236, 72%, 79%);